@use "_project-variables";

.ClinicIntoPage {
    display: flex;
    flex-direction: column;
    padding: 0 clamp(1rem, 4vw, 7rem);

    .blockImgRoomsWithBut {
        width: 100%; 
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;


        .arrow {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            color: #000000;
            border-radius: 100%;
            font-size: 2rem;
            padding: 12px;
            height: clamp(2rem, 1.636rem + 1.82vw, 3rem);
            width: clamp(2rem, 1.636rem + 1.82vw, 3rem);
            background-color: project-variables.$pink-color;
            cursor: pointer;

            &:hover {
                background-color: #d8aeab;

                a {
                    color: #000000;
                }

                transition: all 0.8s ease-in-out;
            }
        }

        .wrapper-images {
            display: flex;
            overflow: hidden;
            

            .blockImgRoom {
                display: flex;
                transition: transform 0.4s ease-in-out;
                gap: 1rem;
                width: max-content;
                width: clamp(10rem, 80vw, 150rem);

                .imgRoom {
                    flex: 0 0 calc((100% - 2rem) / 3);

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}