@use "project-variables";

.TeamPage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url('/background.svg');
    width: 100%;
    background-size: cover;
    box-sizing: border-box;

    .titleCardPage {
        text-align: center;
        padding: clamp(3rem, -0.333rem + 6.67vw, 6rem) clamp(1rem, 4vw, 7rem) 0 clamp(1rem, 4vw, 7rem);

        h2 {
            font-size: project-variables.$title-font-size;
            justify-self: center;
            margin-bottom: 0.5rem;
        }

        p {
            border-top: solid 3px project-variables.$pink-color;
            padding-top: 0.2rem;
            font-size: project-variables.$p-font-size;
        }
    }

    .imgWithBut {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: clamp(15rem, 7.391rem + 34.78vw, 40rem);
            height: clamp(15rem, 7.391rem + 34.78vw, 40rem);
        }

        
    }
}