//Импорты файлов scss
@use '_headerStyle';
@use '_startPageStyle';
@use '_advantagesStyle';
@use '_servicesStyle';
@use '_exampleWorksStyle';
@use "project-variables";
@use "_clinicIntoStyle";
@use "_teamStyle";
@use "_doctorsStyle";
@use "_footnoteStyle";
@use "_specialStyle";
@use "_reviewsStyle";
@use "_footerStyle";
@use "_entryFormStyle";
@use "_trueFormStyle";

// Стили для всей страницы
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Стандартный стиль для ссылок
a {
    text-decoration: none;
}

//Удаление маркеров списков
ul,
ol {
    list-style: none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #F8F8FD;
    color: project-variables.$p-font-color;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.buttonForReception {
    background-color: project-variables.$pink-color;
    padding: 0.75rem 1.2rem;
    margin-top: clamp(1.563rem, 1.467rem + 0.43vw, 1.875rem);
    border: none;
    border-radius: 35px;
    justify-items: start;
    width: clamp(15rem, 7.391rem + 34.78vw, 40rem);
    font-size: clamp(1rem, 0.696rem + 1.39vw, 3rem);

    &:hover {
        background-color: #d8aeab;

        a {
            color: #000000;
            transition: all 0.4s ease-in-out;
        }

        transition: all 0.4s ease-in-out;
    }
}

.buttonCard {
    background-color: project-variables.$pink-color;
    display: flex;
    border: none;
    margin-top: auto;
    justify-content: center;
    border-radius: 30px;
    padding: 0.5rem;
    margin-top: -3vh;
    width: clamp(8rem, 3.13rem + 22.26vw, 24rem);
    color: project-variables.$p-font-color;
    font-weight: 500;
    font-size: clamp(0.6rem, 0.174rem + 1.95vw, 2rem);
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: #d8aeab;

        a {
            color: #000000;
        }

        transition: all 0.4s ease-in-out;
    }
}

.buttonCard2 {
    background-color: project-variables.$pink-color;
    display: flex;
    border: none;
    justify-content: center;
    border-radius: 30px;
    padding: 0.5rem;
    width: clamp(8rem, 3.13rem + 22.26vw, 24rem);
    color: project-variables.$p-font-color;
    font-weight: 500;
    font-size: clamp(0.6rem, 0.174rem + 1.95vw, 2rem);
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #d8aeab;

        a {
            color: #000000;
        }

        transition: all 0.4s ease-in-out;
    }
}