@use "project-variables";

.ExampleWorksPage {
    display: flex;
    flex-direction: column;
    padding: clamp(3rem, -0.333rem + 6.67vw, 6rem) clamp(1rem, 4vw, 7rem) 0 clamp(1rem, 4vw, 7rem);

    .blockExamleWorks {
        text-align: center;

        h2 {
            font-size: project-variables.$title-font-size;
            justify-self: center;
            margin-bottom: 0.5rem;
        }

        p {
            border-top: solid 3px project-variables.$pink-color;
            padding-top: 0.2rem;
            font-size: project-variables.$p-font-size;
        }

        .blockImgWorksWithBut {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;

            .blockImgWorks {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
                grid-auto-flow: column;
                gap: 20px;

                .imgWorks {
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
    }
}