@import "_project-variables";
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: clamp(0.4rem, 2vw, 1rem);
    z-index: 100;
    background-color: rgba(250, 250, 255, 0.93);

    @media (min-width:704px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 clamp(1rem, 2.35vw, 2rem);
    }

    .logo img {
        width: clamp(120px, 20vw, 150px);
        height: inherit;
    }

    nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        border-top: solid 2px $pink-color;
        padding-top: 60px;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        gap: 1.7rem;
        background-color: rgba(250, 250, 255, 0.95);
        visibility: hidden;
        opacity: 0;
        transform: scale(0.9) translateY(-40);
        transition: all 0.4s ease-in-out;


        @media (min-width:704px) {
            transition: all 1s ease-in-out;
            position: static;
            display: flex;
            flex-direction: row;
            height: auto;
            width: auto;
            border-top: none;
            opacity: 1;
            visibility: visible;
            background-color: transparent;
            gap: clamp(0.75rem, 0.17rem + 3.019vw, 3rem);
        }

        a {
            color: $p-font-color;
            text-decoration: none;
            font-size: clamp(1.25rem, 0.7759rem + 0.8148vw, 1.55rem);
            font-weight: 500;
            padding-top: 2vw;



            &:hover {
                color: $pink-color;
                transition: all 0.3s ease-in;
            }
        }

        &.showNavMobile {
            transition: all 0.4s ease-in-out;
            display: flex;
            opacity: 1;
            visibility: visible;
            transform: scale(1) translateY(0);

            a {
                border-bottom: solid 1px rgba(255, 198, 196, 0.62);
                padding-bottom: 1px;
            }

        }


    }


    #humburgerBut {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        gap: 0.4rem;


        @media(min-width: 704px) {
            display: none;
        }


        span {
            width: 30px;
            height: 2px;
            background-color: $p-font-color;
            transition: all 0.6s cubic-bezier(0.58, -0.35, 0.265, 0.85);

            &:nth-child(2) {
                background-color: $pink-color;
            }
        }

    }


    #humburgerBut.menuShow {
        span {
            transition: all 0.6s cubic-bezier(0.58, -0.35, 0.265, 0.85);

            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(2) {
                transform: translateX(-100px);

            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}


.butForPhoneWithLocation {
    display: flex;
    flex-direction: row;

    a {
        display: flex;
        flex-direction: row;
    }

    a img {
        display: block;
        height: auto;
        width: clamp(30px, 3.5vw, 35px);
    }
}