.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;
    z-index: 100;
    background-color: rgba(250, 250, 255, 0.85);


    nav {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        border-top: solid 2px #FFC6C4;
        padding-top: 60px;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        gap: 2rem;
        background-color: #fafaff;
        opacity: 0;
        transform: scale(0.95) translateY(-20px);
        transform-origin: top center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);


        
        @media (min-width:700px) {
            position: static;
            display: flex;
            flex-direction: row;
            height: auto;
            width: auto;
            border-top: none;
            padding: 0;
            opacity: 1;
            transform: none;
            transition: none;
            background-color: transparent;
        }
        a {
            color: #2a2a2a;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: 500;


            &:hover {
                color: #FFC6C4;
                transition: all 0.3s ease-in;
            }
        }

        &.showNavMobile {
            display: flex;
            opacity: 1;
            visibility: visible;
            transform: scale(1) translateY(0);
        }


    }


    #humburgerBut {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        gap: 0.4rem;


        @media(min-width: 700px) {
            display: none;
        }


        span {
            width: 30px;
            height: 2px;
            background-color: #2a2a2a;
            transition: all 0.6s cubic-bezier(0.58, -0.35, 0.265, 0.85);

            &:nth-child(2){
                background-color: #FFC6C4;
            }
        }

    }


    #humburgerBut.menuShow {
        span {
            transition: all 0.6s cubic-bezier(0.58, -0.35, 0.265, 0.85);

            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }


            &:nth-child(2) {
                transform: translateX(-100px);
                
            }


            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}


.butForPhoneWithLocation {
    display: flex;
    flex-direction: row;
}