@import "_project-variables";
.servicesPage {
    display: flex;
    flex-direction: column;
    padding: clamp(3rem, -0.333rem + 6.67vw, 6rem) 1.5rem 0 1.5rem;
    gap: 3rem;

    .titleCardPage {
        text-align: center;

        h2 {
            font-size: $title-font-size;
            justify-self: center;
            margin-bottom: 0.5rem;
        }

        p {
            border-top: solid 3px $pink-color;
            padding-top: 0.2rem;
            font-size: $p-font-size;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .serviceCard {
            width: clamp(18.75rem, 12.5rem + 26.32vw, 37.5rem);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            border: solid 3px #A2E2F9;
            border-radius: 20px;
            box-shadow: -8px 7px 16px -9px rgba(42, 42, 42, 0.19),  inset 0px 0px 41px -14px rgba(162, 226, 249, 0.66);




            .serviceCardText {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                p{
                    font-size: clamp(1rem, 0.643rem + 1.43vw, 2rem);
                }
                h4{
                    font-size: clamp(0.8rem, 0.4rem + 1.68vw, 2rem);
                }
                .buttonCard {
                    background-color: $pink-color;
                    border: none;
                    border-radius: 30px;
                    padding: 0.5rem;
                    width: clamp(4.5rem, 0.973rem + 14.11vw, 14.375rem);

                    a {
                        color: $p-font-color;
                        font-weight: 500;
                        font-size: clamp(0.8rem, 0.55rem + 1vw, 1.5rem);
                    }

                    &:hover {
                        background-color: #d8aeab;

                        a {
                            color: #000000;
                        }

                        transition: all 0.4s ease-in-out;
                    }
                }
            }
            .imgCard{
                width: clamp(9.375rem, 7.083rem + 9.65vw, 16.25rem);
                height: clamp(9.375rem, 7.083rem + 9.65vw, 16.25rem);
                border-radius: 50% 7% 50% 50%;
            }
        }
    }



}