.servicesPage {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem 0 1.5rem;
    gap: 3rem;

    .titleCardPage {
        text-align: center;

        h2 {
            font-size: 1rem;
            justify-self: center;
            margin-bottom: 0.5rem;
        }

        p {
            border-top: solid 3px #FFC6C4;
            padding-top: 0.2rem;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .serviceCard {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            border: solid 3px #A2E2F9;
            border-radius: 20px;

            .serviceCardText {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                .buttonCard {
                    background-color: #FFC6C4;
                    border: none;
                    border-radius: 30px;
                    padding: 0.5rem;
                    max-width: 40%;

                    a {
                        color: #2a2a2a;
                        font-weight: 500;
                        font-size: 0.8rem;
                    }

                    &:hover {
                        background-color: #d8aeab;

                        a {
                            color: #000000;
                        }

                        transition: all 0.4s ease-in-out;
                    }
                }
            }
            .imgCard{
                border-radius: 50% 9% 50% 50%;
            }
        }
    }



}