.startPage {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: space-between;

    .startDescription {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;

        h2{
            font-weight: 600;
            font-size: 1rem;
        }
        p{
            font-size: 0.875rem;
        }

        .buttonForReception {
            background-color: #FFC6C4;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 35px;
            justify-items: start;
            max-width: 12rem;

            a {
                color: #2a2a2a;
                font-size: 0.7rem;
            }
            &:hover{
                background-color: #d8aeab;

                a{
                    color: #000000;
                }
                transition: all 0.4s ease-in-out;
            }
        }
    }

}