//Импорты файлов scss
@use '_headerStyle';
@use '_startPageStyle';
@use '_advantagesStyle';
@use '_servicesStyle';
@use '_exampleWorksStyle';
@use "project-variables";




// Стили для всей страницы
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Стандартный стиль для ссылок
a {
    text-decoration: none;
}

//Удаление маркеров списков
ul,
ol {
    list-style: none;
}
html {
  height: 100%; 
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    font-family: "Montserrat", sans-serif;
    background-color: #F0F0FA;
    color: project-variables.$p-font-color;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
